<%- include("templates/header_goback") %> 

<div class="card mb-4 transparentbox">
    <div class="card-header">
      More Sleep Analysis
    </div>
    <div class="card-body">
      <!-- <p class="card-text">Sleep Score: = sleepScore </p> -->
      <div class="alert alert-warning" role="alert">
        It is recommended that individuals in your age group strive for a sleep efficiency of at least <%=
        Intercept %>%. However, our analysis indicates that your current sleep efficiency falls below this
        target.(i.e <%=Difference%> % less than required)
      </div>

      <div class="alert alert-danger" role="alert">
        The most important factor affecting your sleep is <%= MostNegativeFactor%> and  decrease in this can improve your sleep quality by nearly <%= Factor%>%.
       </div>

       <div class="alert alert-success" role="alert">
        <h2>Relevant Facts:</h2>
        <% for (const fact of RelevantFacts) { %>
          <h3>Reason: <%= fact.reason %></h3>
          <p>Explanation: <%= fact.explanation %></p>
        <% } %>
       </div>


      
      
       
       
      
    </div>
  </div>

<%- include("templates/footer") %> 