<%- include('templates/header_goback', { path: '/createreport' }) %>

<div class="container mb-5 pb-5">
  <h1 class="my-4">My Report for <%= date %> </h1>
<form action="/analysis" method="post">
  <div class="card mb-4 transparentbox">
    <div class="card-header">
      Sleep Information
    </div>
    <div class="card-body">
      <!-- <p class="card-text">Sleep Score: = sleepScore </p> -->
      <p class="card-text"><strong>Bed Time:</strong> <%= bedtime %></p>
      <p class="card-text"><strong>Wake up Time:</strong> <%= wakeup %></p>

      <p class="card-text"><strong>Time taken to fall asleep:</strong> <%= takeTimeAsleep %></p>
      <p class="card-text"><strong>Sleep Duration:</strong>  <%= sleepDuration %></p>
      <p class="card-text"><strong>Hours Asleep:</strong> <%= HoursAsleep %></p>

      <p class="card-text"><strong>Number of Wakeups:</strong> <input type="text" name="wakeupCount" value="<%= wakeupCount %>"  disabled ></p>
      <p class="card-text"><strong>Caffeine Consumption:</strong> <%= caffeine %> <input type="text" name="caffeineCount" value="<%= caffeineCount %>"  disabled ></p>
      <p class="card-text"><strong>Alcohol Consumption: </strong><%= alcohol %> <input type="text" name="alcoholCount" value="<%= alcoholCount %>"  disabled > oz</p>
      <p class="card-text"><strong>Exercise Frequency:</strong> <%= exercise %> <input type="text" name="exerciseCount" value="<%= exerciseCount %>"  disabled > times</p>
    </div>
  </div>

   <!-- if (tips.length > 0) {  -->
    <div class="card mb-4 transparentbox">
      <div class="card-header">
        Analysis
      </div>
      <div class="card-body">
        <p class="card-text"><strong>Sleep Efficiency:</strong><input class="mx-2" type="text" name="sleepEfficiency" value="<%= sleepEfficiency %>"  disabled >  /100</p>
      </div>
      
    </div>

    <div class="centeredbutton">
      <button type="submit" class="btn btn-primary button1" id="analysis">View More Analysis</button>
    </div>
  </form>
   <!-- }   -->

    <div class="centeredbutton">
      <a href="/main" class="btn btn-primary button2">Go back to Home</a>
    </div>
</div>



<%- include("templates/footer") %>