<%- include("templates/header_goback") %>
<h1>New Report</h1>
<p>Sleep Score: <%= sleepScore %></p>
<p>Bedtime: <%= bedtime %></p>
<p>Wakeup Time: <%= wakeup %></p>
<p>Number of Wakeups: <%= wakeupCount %></p>
<p>Alcohol Consumption: <%= alcohol %> (<%= alcoholCount %> oz)</p>
<%- include("templates/footer") %>