<%- include("templates/header_goback") %>

<div class="container mb-5 pb-5">
  <h1 class="my-4">My Report for <%= date %> </h1>

  <div class="card mb-4">
    <div class="card-header">
      Sleep Information
    </div>
    <div class="card-body">
      <!-- <p class="card-text">Sleep Score: = sleepScore </p> -->
      <p class="card-text">Bed Time: <%= bedtime %></p>
      <p class="card-text">Wake Up Time: <%= wakeup %></p>

      <p class="card-text">Take Time Asleep: <%= takeTimeAsleep %></p>
      <p class="card-text">Sleep Duration:  <%= sleepDuration %></p>
      <p class="card-text">Hours Asleep: <%= HoursAsleep %></p>

      <p class="card-text">Number of Wakeups: <%= wakeupCount %></p>
      <p class="card-text">Caffeine Consumption: <%= caffeine %> (<%= caffeineCount %> mg)</p>
      <p class="card-text">Alcohol Consumption: <%= alcohol %> (<%= alcoholCount %> oz)</p>
      <p class="card-text">Exercise Frequency: <%= exercise %> (<%= exerciseCount %> times)</p>
    </div>
  </div>

   <!-- if (tips.length > 0) {  -->
    <div class="card mb-4">
      <div class="card-header">
        Analysis
      </div>
      <div>
        <p class="card-text">Sleep Efficiency: <%= sleepEfficiency %> %</p>
      </div>
      <div class="card-body">
        <p>facts: </p>
        <!-- <ul class="list-group list-group-flush">
           tips.forEach(function(tip) { 
            <li class="list-group-item"> = tip.trim() </li>
           }); 
        </ul> -->
      </div>
    </div>
   <!-- }   -->

  <a href="/main" class="btn btn-primary">Go back to Home</a>
</div>



<%- include("templates/footer") %>