<%- include("templates/header_profile") %>
    <div class="container justify-content-center mb-5 pb-5">
        <div class="col-md-9">
            <div class="tab-content">
                <div class="tab-pane fade active show" id="account-general">

                    <div class="card-body media align-items-center">
                        <img id="mypic-goes-here" src="profile_dummy.png" width="100" height="100" />
                        <br><br>

                        <div class="media-body ml-4">
                            <label class="btn btn-outline-primary">
                                Upload new photo

                                <input type="file" id="mypic-input" class="account-settings-fileinput" accept="image/*"
                                    style="display:none;" />
                            </label>
                            <button type="button" class="btn btn-primary">Save </button>




                            <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>
                        </div>
                    </div>
                    <hr class="border-light m-0">
                    <!-- <fieldset class="mb-3" id="personalInfoFields" disabled> -->
                    <form id="profileForm" method="POST" action="/profile">



                        <div class="card-body">

                            <div class="form-group">
                                <label class="form-label">Name</label>
                                <input id="nameInput" type="text" class="form-control" placeholder="enter your name"
                                    name="name" value="<%= name%>" <% if (!isEditing) { %>disabled<% } %>>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Email</label>
                                <input id="bioInput" type="text" class="form-control mb-1" placeholder="enter email"
                                    value="<%= email%>" disabled>

                            </div>
                            <div class="form-group">
                                <label class="form-label">Date of Birth</label>
                                <input id="dateInput" type="date" class="form-control" placeholder="enter DOB"
                                    value="<%= birthday%>" disabled>
                            </div>
                            <br>

                            <% if (!isEditing) { %>
                               
                                <button type="button" class="btn btn-outline-primary"
                                    onclick="window.location.href='/profile?edit=true'">Edit profile</button>
                                <% } else { %>
                                    <button type="submit" class="btn btn-primary">Update Profile</button>&nbsp;
                                    <button type="button" class="btn btn-outline-primary"
                                        onclick="window.location.href='/profile'">Cancel</button>
                                    <% } %>

                        </div>

                </div>
                </form>
            </div>
        </div>





        <!-- <button type="submit" class="btn btn-primary">Save Profile</button>&nbsp; -->
        <form id="delete-form" action="/users/<%= _id %>?_method=DELETE" method="post">
            <!-- form fields  -->
            <div class="form-group">
                <br>
                <label class="d-block text-danger">Delete Account</label>
                <p class="text-muted font-size-sm">Once you delete your account, there is no going back. Please be
                    certain.
                </p>
            </div>
            <button id="delete-btn" type="button" class="btn btn-danger" data-toggle="modal"
                data-target="#confirm-delete">Delete Account</button>
        </form>

        <!-- Confirmation modal -->
        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModal">Confirm Account Deletion</h5>
                        
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete your account? This action cannot be undone.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            id="cancel-delete">Cancel</button>
                        <button id="confirm-delete-btn" type="submit" form="delete-form" class="btn btn-danger">Delete
                            Account</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- JavaScript code -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script>
            $(function () {
                $('#delete-btn').click(function () {
                    $('#confirm-delete').modal('show');
                });

                $('#confirm-delete-btn').click(function () {
                    $('#delete-form').submit();
                });
                $('#cancel-delete').click(function () {
                    $('#confirm-delete').modal('hide');
                });
                $('#confirm-delete').on('hidden.bs.modal', function () {
                    // Clear the form data when the modal is closed
                    $('#delete-form')[0].reset();
                });
            });
        </script>

        







        <%- include("templates/footer") %>