<%- include("templates/header_goback") %>
<h1>Reports List</h1>

<div class="container mt-5">
    <h1 class="mb-4">Reports List</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Sleep Score</th>
                <th scope="col">Bedtime</th>
                <th scope="col">Wakeup Time</th>
                <th scope="col">Wakeup Count</th>
                <th scope="col">Alcohol</th>
                <th scope="col">Alcohol Count</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% reports.forEach((report, index) => { %>
                <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= report.date %></td>
                    <td><%= report.sleepScore %></td>
                    <td><%= report.bedtime %></td>
                    <td><%= report.wakeup %></td>
                    <td><%= report.wakeupCount %></td>
                    <td><%= report.alcohol %></td>
                    <td><%= report.alcoholCount %></td>
                    <td>
                        <a href="/report/<%= report._id %>" class="btn btn-primary btn-sm">View</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<%- include("templates/footer") %>